

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ajouter Evénement</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form, { 'action': path('add-event'), 'attr': { 'class': 'add-event' } }) }}

                <div class="form-group">

                    <label >Titre</label>
                    {{ form_widget(form.title)}}
                </div>
                <div class="form-group">
                    <label >Date de création</label>
                    {{ form_widget(form.createdAt)}}
                </div>
                <div class="form-group">
                    <label >Adresse</label>
                    {{ form_widget(form.adress)}}
                </div>

            </div>
            <div class="modal-footer">

                <input type="submit" class="btn btn-primary"></input>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
