{% extends 'template.html.twig' %}
{% block headTile %}

    <ol class="breadcrumb">
        <li>
            <a type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-default">
                Ajouter Evenement
            </a>
           {{ render(controller( 'App\\Controller\\AgendaController::addEvent' )) }}
        </li>

    </ol>

{% endblock %}
{% block body %}
     
    <div class="box-body">
        <table id="example2" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer cell-border">
            <thead>
                <tr>

                    <th>Titre de l'évennement</th>
                    <th>Date</th>
                    <th>Addresse</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{event.title}}</td>
                        <td>{{event.createdAt |date('d/m/Y ')}}</td>
                        <th>{{event.adress}}</th>

                        <td>
                            <a href="#" data-toggle="modal" data-target="#modal-event-edit-{{event.id}}" class="btn btn-social-icon btn-dropbox" ><i class="fa fa-edit"></i></a>
                            <a href="{{path('delete-event',{'id':event.id})}}" class="btn btn-social-icon btn-danger"><i class="fa fa-times"></i></a>
                                {{ render(controller( 'App\\Controller\\AgendaController::editEvent',{'id':event.id} )) }}
                        </td>
                    </tr>
                {%endfor%}
            </tbody>

        </table>
    </div>



{% endblock %}