<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Q3ADVOCACY | Dashboard</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css')}}">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css')}}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css')}}">
        <!-- jvectormap -->
        <link rel="stylesheet" href="{{ asset('bower_components/jvectormap/jquery-jvectormap.css')}}">
        <!-- Theme style -->

        <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css')}}">
        <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')}}">

        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css')}}">

        <link href=" {{ asset('bower_components/select2/dist/css/select2.min.css')}}" rel="stylesheet" />
        <link rel="stylesheet" href="{{asset('dist/css/AdminLTE.css')}}">






        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>
    <body class="hold-transition skin-black sidebar-mini">
        <div class="wrapper">

            <header class="main-header">

                <!-- Logo -->
                <a href="#" class="logo">
                    <img class="w120" alt="logo" src="{{ asset('dist/img/logo-int.jpg' ) }}"  style="height: 54px;width: auto;vertical-align: bottom; border:0;" />
                </a>

                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success bg-red"style="width: 15px;">3</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li><!-- start message -->
                                                <a href="#">
                                                    <div class="pull-left">

                                                    </div>
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <!-- end message -->
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        {%if app.user.photo is empty %}
                                                            <img src="{{ asset('uploads/users/avatar.jpg' ) }}" class="img-circle" alt="User " >

                                                        {%else%}
                                                            <img src="{{ asset('uploads/users/' ~ app.user.photo) }}" class="img-circle" alt="User Image" >
                                                        {%endif%}

                                                    </div>
                                                    <h4>
                                                        AdminLTE Design Team
                                                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">

                                                        {%if app.user.photo is empty %}
                                                            <img src="{{ asset('uploads/users/avatar.jpg' ) }}" class="img-circle" alt="User " >

                                                        {%else%}
                                                            <img src="{{ asset('uploads/users/' ~ app.user.photo) }}" class="img-circle" alt="User Image" >
                                                        {%endif%}
                                                    </div>
                                                    <h4>
                                                        Developers
                                                        <small><i class="fa fa-clock-o"></i> Today</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Sales Department
                                                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        {%if app.user.photo is empty %}
                                                            <img src="{{ asset('uploads/users/avatar.jpg' ) }}" class="img-circle" alt="User " >

                                                        {%else%}
                                                            <img src="{{ asset('uploads/users/' ~ app.user.photo) }}" class="img-circle" alt="User Image" >
                                                        {%endif%}

                                                    </div>
                                                    <h4>
                                                        Reviewers
                                                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>
                            <!-- Notifications: style can be found in dropdown.less -->
                          
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                    {%if app.user.photo is empty %}
                                        <img src="{{ asset('uploads/users/avatar.jpg' ) }}" class="user-image" alt="User " >

                                    {%else%}
                                        <img src="{{ asset('uploads/users/' ~ app.user.photo) }}" class="user-image" alt="User Image" >
                                    {%endif%}
                                    <span class="hidden-xs">{{app.user.username}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">

                                        {%if app.user.photo is empty %}
                                            <img src="{{ asset('uploads/users/avatar.jpg' ) }}" class="img-circle" alt="User " >

                                        {%else%}
                                            <img src="{{ asset('uploads/users/' ~ app.user.photo) }}" class="img-circle" alt="User Image" >
                                        {%endif%}
                                        <p>
                                            {{app.user.username}} 
                                            <small>{{app.user.profession}} </small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->

                                    <!-- Menu Footer-->

                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="{{path('app_logout')}}" ><i class="fa fa-expeditedssl"></i></a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">

                            {%if app.user.photo is empty %}
                                <img src="{{ asset('uploads/users/avatar.jpg' ) }}" class="img-circle" alt="User " >

                            {%else%}
                                <img src="{{ asset('uploads/users/' ~ app.user.photo) }}" class="img-circle" alt="User Image" >
                            {%endif%}
                        </div>
                        <div class="pull-left info">
                            <p>{{app.user.username}}</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li>
                            <a href="{{path('dashboard')}}">
                                <i class="fa  fa-book"></i> <span>Présentation</span>

                            </a>
                        </li>
                        <li>
                            <a href="{{path('list-article')}}">
                                <i class="fa fa-indent"></i> <span>Actualités</span>

                            </a>
                        </li>
                        <li>
                            <a href="{{path('list-realisations')}}">
                                <i class="fa fa-building"></i> <span>Réalisation</span>

                            </a>
                        </li>
                        <li>
                            <a href="{{path('reclamation')}}">
                                <i class="fa fa-envelope"></i> <span>Réclamations</span>
                                <span class="pull-right-container">
                                    <small class="label pull-right bg-red">3</small>
                                </span>

                            </a>
                        </li>
                        <li>
                            <a href="{{path('agenda')}}">
                                <i class="fa fa-calendar"></i> <span>Agenda</span>

                            </a>
                        </li>
                        <li>
                            <a href="{{path('institution')}}">
                                <i class="fa fa-phone-square"></i> <span>Numéros Utils</span>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope"></i> <span>Contact</span>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa  fa-book"></i> <span>Administrateur</span>

                            </a>
                        </li>




                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">




                <!-- Content Header (Page header) -->
                <section class="content-header">
                    {% block headTile %}

                    {% endblock %}

                    <div class="row" style="margin: 0px;border-top:3px solid #d2d6de;margin-top:48px;">
                        {% for message in app.flashes('success') %}

                            {#<div class="alert alert-success">

                                {{ message }}

                            </div>#}
                            <div class="callout callout-success" id="successMessage">
                                <h4>succées !</h4>

                                <p> {{ message }}</p>
                            </div>

                        {% endfor %}
                        {% block body %}

                        {% endblock %}
                    </div>


                </section>


            </div>
            <!-- /.content-wrapper -->

            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0.0
                </div>
                <strong>Copyright &copy; 2019 .</strong> All rights
                reserved.
            </footer>



            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>

        </div>
        <!-- ./wrapper -->

        <!-- jQuery 3 -->

        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js')}}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <!-- FastClick -->
        <script src="{{ asset('bower_components/fastclick/lib/fastclick.js')}}"></script>
        <!-- AdminLTE App -->
        <script src="{{ asset('dist/js/adminlte.min.js')}}"></script>
        <!-- Sparkline -->
        <script src="{{ asset('bower_components/jquery-sparkline/dist/jquery.sparkline.min.js')}}"></script>
        <!-- jvectormap  -->
        <script src="{{ asset('plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
        <script src="{{ asset('plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
        <!-- SlimScroll -->
        <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
        <!-- ChartJS -->
        <script src="{{ asset('bower_components/chart.js/Chart.js')}}"></script>


        <script src="{{ asset('dist/js/js_globale.js')}}"></script>
        <script src="{{ asset('dist/js/demo.js')}}"></script>
        <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
        <script src="{{ asset('bower_components/select2/dist/js/select2.min.js')}}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


        <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}} "></script>
        <script src="{{ asset('bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')}} "></script>
        <script src="{{ asset('plugins/timepicker/bootstrap-timepicker.min.js')}} "></script>


        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9OjpDi1Yr0juEUfyJmSTo-V57L8ZU0f0&callback=initMap">
        </script>

        <script>
            setTimeout(function () {
                $('#successMessage').fadeOut('slow');
            }, 2000);
        </script>

    </body>
</html>
