{% extends 'template.html.twig' %}
{% block headTile %}

    <ol class="breadcrumb">

        <li>
            <a type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-add-artilce">
                Ajouter actualité
            </a>
            {{ render(controller( 'App\\Controller\\ArticleController::addArticle' )) }}
        </li>


    </ol>
{% endblock %}
{% block body %}

    {% for article in articles%}
        <div class="attachment-block clearfix">
            {%if article.photo is empty %}
                <img src="{{ asset('uploads/articles/avatar-article.png' ) }}" class="attachment-img" alt="User " >

            {%else%}
                <img src="{{ asset('uploads/articles/' ~ article.photo) }}" class="attachment-img" alt="User Image" >
            {%endif%}

            <div class="attachment-pushed">
                <h4 class="attachment-heading"><a href="#">{{article.title}}</a></h4>

                <div class="attachment-text">
                    {{article.content}} <a href="#">suite ...</a>
                </div>
                <div class="checkbox">
                    <label>
                        {%if article.publicated == 1%}
                            <input type="checkbox" onchange='handleChange(this,{{article.id}} );' checked> publié
                        {%else%}
                            <input type="checkbox" onchange='handleChange(this,{{article.id}} );' > publié
                        {%endif%}

                    </label>
                </div>


                <td>
                    <a href="#" data-href="{{path('delete-article',{'id':article.id})}}"type="button" class="btn btn-block btn-danger btn-xs" data-toggle="modal" data-target="#confirm-delete-{{article.id}}">Supprimer</a>
                    <a  href="#"data-toggle="modal" data-target="#modal-article-edit-{{article.id}}" type="button" class="btn btn-block btn-info btn-xs">Modifier</a>
                    {{ render(controller( 'App\\Controller\\ArticleController::editArticle',{'id':article.id} )) }}
                </td>

                <!-- /.attachment-text -->
            </div>
            <!-- /.attachment-pushed -->

        </div>

        <hr style="border-top: 1px solid #e0cacade;">
        
         <div class="modal fade" id="confirm-delete-{{article.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                Confirmation de suppression
                            </div>
                            <div class="modal-body">
                                Voulez-vous vraiment supprimer cet actualité
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <a  href="{{path('delete-article',{'id':article.id})}}" class="btn btn-danger btn-ok">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
    {%endfor%}

    <script>

        function handleChange(checkbox, id) {

            if (checkbox.checked == true) {
                $.ajax({
                    type: "POST",
                    url: Routing.generate('publie-article', {'id': id}),
                    data: JSON.stringify({id: id}),
                    dataType: "json",
                    success: function (data) {
                        // Execute some specific data for route1
                    }
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: Routing.generate('depublie-article', {'id': id}),
                    data: JSON.stringify({id: id}),
                    dataType: "json",
                    success: function (data) {
                    }
                });
            }
        };
       
    </script>


{% endblock %}