
{% extends 'base.html.twig' %}

{% block title %}Reset Mot de passe!{% endblock %}


{% block body %}
    <style>

        html, body {
            height: 100%;
            background: #f5f5f5 !important;
        }
        button.btn.btn-primary.btn-sm {
            padding: 5px 47px;
            margin-left:68px;
            background-color:#4a3ba0;
        }
        a.reset-password{
            text-align: center;
            margin-left: 82px;
            font-size: 12px;
            color:#666;
        }
    </style>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.css')}}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css')}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css')}}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{{ asset('bower_components/jvectormap/jquery-jvectormap.css')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{asset('dist/css/AdminLTE.css')}}">

    <link rel="stylesheet" href=" {{ asset('plugins/iCheck/square/blue.css')}}">
    <!-- Google Font -->
    <div class="login-box">

        <div class="login-logo">
            <img class="w120" alt="logo" src="{{ asset('dist/img/logo.jpg' ) }}"  style="vertical-align: bottom; border:0;" />
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <h2 class="login-box-msg">Mot de passe oublié</h2>

            {{form_start(form)}}
            {{form_row(form.email)}}
            <button  class="btn  btn-primary btn-sm"  type="submit">Envoyer</button>
            {{form_end(form)}}



        </div>

    </div>

{% endblock%}